<form class="form">
	<div class="form__field">
		{{> Molecule/TextField label="Name" id="name"}}
	</div>
	<div class="form__field">
		{{> Molecule/TextField label="Email" id="email"}}
	</div>
	{{> Atom/Button text="Send"}}
</form>